Repository MIT-Emerging-Talent/2024-group-11-collaboration-practice, pull requests merged in 2024-01, with the labels that each got.

#19 add learning goals
  group_study/learning_goals.md
Labels: documentation

#20 solve randomize_array and change run_test
  run_tests.sh
  src/brain_teasers/python/randomize_array/README.md
  src/brain_teasers/python/randomize_array/src/randomize_array.py
  src/brain_teasers/python/randomize_array/tests/test_randomize_array.py
Labels: challenge, python, brain teasers

#27 Wrote code for finding Fibonacci number with Python, learning_goals.md, constraints.md
  group_study/constraints.md
  group_study/learning_goals.md
  src/dynamic_programming/python/fibonacci/README.md
  src/dynamic_programming/python/fibonacci/src/fib.py
  src/dynamic_programming/python/fibonacci/tests/test_fibonacci.py
Labels: challenge, python, dynamic_programming

#28 #22 Brain Teaser "array_product" python
  src/brain_teasers/python/array_product/README.md
  src/brain_teasers/python/array_product/src/array_product.py
  src/brain_teasers/python/array_product/tests/test_array_product.py
Labels: challenge, python, brain teasers

#26 Coins change
  src/dynamic_programming/python/coins/README.md
  src/dynamic_programming/python/coins/src/coins.py
  src/dynamic_programming/python/coins/tests/test_coins.py
Labels: challenge, python, dynamic_programming

#29 Challenge heap sort, python
  src/sorting/python/heap_sort/README.md
  src/sorting/python/heap_sort/src/heap_sort.py
  src/sorting/python/heap_sort/tests/test_heap_sort.py
Labels: challenge, python, sorting

#31 Update learning_goals.md
  group_study/learning_goals.md
Labels: documentation

#33 add scedule & individual goals
  group_study/communication.md
  group_study/learning_goals.md
Labels: documentation

#30 Challenge is_palindrome_after_char_deletion, python
  src/brain_teasers/python/is_palindrome_after_char_deletion/README.md
  src/brain_teasers/python/is_palindrome_after_char_deletion/src/is_palindrome_after_char_deletion.py
  src/brain_teasers/python/is_palindrome_after_char_deletion/tests/test_is_palindrome_after_char_deletion.py
Labels: challenge, python, brain teasers

#40 AnnaSh kmp solving
  src/dynamic_programming/python/kmp/README.md
  src/dynamic_programming/python/kmp/src/kmp.py
  src/dynamic_programming/python/kmp/tests/test_kmp.py
Labels: challenge, python, dynamic_programming

#38 AnnaSh-add insertion sort solving
  src/backtracking/python/string_pattern/tests/test_string_pattern.py
  src/sorting/python/insertion_sort/README.md
  src/sorting/python/insertion_sort/src/insertion_sort.py
  src/sorting/python/insertion_sort/tests/test_insertion_sort.py
Labels: challenge, python, sorting

#32 solve stairs problem
  src/dynamic_programming/python/climbing_stairs/README.md
  src/dynamic_programming/python/climbing_stairs/src/climb.py
  src/dynamic_programming/python/climbing_stairs/tests/test_climbing_stairs.py
Labels: challenge, python, dynamic_programming

#35 Solve all_permutations problem
  src/backtracking/python/all_permutations/README.md
  src/backtracking/python/all_permutations/src/all_permutations.py
  src/backtracking/python/all_permutations/tests/test_all_permutations.py
  src/sorting/python/quick_sort/src/quick_sort.py
Labels: challenge, python, backtracking

#36 String Pattern solved and ready to be reviewed.
  src/backtracking/python/string_pattern/README.md
  src/backtracking/python/string_pattern/src/string_pattern.py
  src/backtracking/python/string_pattern/tests/test_string_pattern.py
Labels: challenge, python, backtracking

#47 selection_sort with Python
  src/sorting/python/selection_sort/README.md
  src/sorting/python/selection_sort/src/selection_sort.py
  src/sorting/python/selection_sort/tests/test_selection_sort.py
Labels: challenge, python, sorting

#34 Solve quick_sort probem
  src/sorting/python/quick_sort/README.md
  src/sorting/python/quick_sort/src/quick_sort.py
Labels: challenge, sorting

#48 Minimax solved
  src/backtracking/python/minimax/README.md
  src/backtracking/python/minimax/src/minimax.py
  src/backtracking/python/minimax/tests/test_minimax.py
Labels: challenge, python, backtracking
